# Eclipse stuff
factions/.classpath
factions/.project
factions/.settings

# netbeans
/nbproject

# we use maven!
factions/build.xml
factions/target

# vim
.*.sw[a-p]

# various other potential build files
factions/build
factions/bin
factions/dist
factions/manifest.mf

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# Etc Files
/.metadata
/.recommenders
/.git